<div class="card mt-4">
  <div class="card-body">
    <div *ngFor="let userEmailForm of userEmailFormArray.controls; let i = index" class="card mb-4">
      <button type="button" id="remove" class="dk-close-button close d-flex justify-content-end mr-2" aria-label="Close" (click)="deleteEmail(i)">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="card-body row" [formGroup]="userEmailForm">
        <div class="col-3 row form-group ml-2 mr-2"
             [class.dk-invalid]="userEmailForm.get('TYPE').invalid && (userEmailForm.touched || userEmailForm.dirty)">
          <label for="emailType" class="col-form-label dk-form-label"> Email Type:
            <span class="dk-invalid-feedback">{{userEmailForm.get('TYPE').errors?.required ? 'Required': null}}</span>
          </label>
          <input type="text" class="form-control" id="emailType" [readonly]="readonly"
                 name="emailType" formControlName="TYPE">
        </div>
        <div class="col-6 row form-group mr-2"
             [class.dk-invalid]="userEmailForm.get('EMAIL').invalid && (userEmailForm.touched || userEmailForm.dirty)">
          <label for="emailAddress" class="col-form-label dk-form-label"> Email Address:
            <span class="dk-invalid-feedback">{{userEmailForm.get('EMAIL').errors?.required ? 'Required': null}}</span>
          </label>
          <input type="text" class="form-control" id="emailAddress" [readonly]="readonly"
                 name="emailAddress" formControlName="EMAIL">
        </div>
        <div class="col-1 row form-group mr-2">
          <label for="primaryEmail" class="col-form-label dk-form-label">Primary</label>
          <input type="radio" class="form-control" id="primaryEmail" [value]="1" name="PRIMARY" formControlName="PRIMARY">
        </div>
      </div>
    </div>
    <button type="button" id="add" class="btn btn-primary float-right" [disabled]="readonly" (click)="addEmail()">Add</button>
  </div>
</div>
