<nav class="dk-navbar-inverse">
  <div class="dk-navbar-header">
    <button type="button" class="dk-navbar-toggle" (click)="collapse()">
      <span class="dk-sr-only">Toggle navigation</span>
      <span class="dk-icon-bar"></span>
      <span class="dk-icon-bar"></span>
      <span class="dk-icon-bar"></span>
    </button>
    <a class="dk-navbar-brand" href="#"><img alt="Brand" src="assets/BrandIcon.png"></a>
  </div>

  <!-- Application Name or Title -->
  <div class="dk-navbar-center">
    <ul class="dk-nav dk-navbar-nav dk-navbar-app-title">
      <li [ngClass]="{'open': dropdown.historyOpen}">
        <a (click)="toggleHistoryDropdown()" class="dk-nav-toggle">{{currentApp.name}} <b class="dk-caret"></b></a>
        <ul class="dk-dropdown-menu">
          <li *ngFor="let app of navHistory"><a routerLink="{{app.routeLink}}">
            {{app.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Generic Functions in the header bar -->
  <div class="dk-navbar-right">
    <ul class="dk-nav dk-navbar-nav">
      <li [ngClass]="{'open': dropdown.notificationOpen}">
        <a (click)="toggleNotificationDropdown()" class="dk-nav-toggle"><span
          class="fas fa-bell"></span><span class="dk-label dk-badge">32</span>
        </a>
        <ul class="dk-dropdown-menu">
          <li><a href="#"><span class="dk-label dk-label-warning">4:00 AM</span>Favourites Snippet</a></li>
          <li><a href="#"><span class="dk-label dk-label-warning">4:30 AM</span>Email marketing</a></li>
          <li><a href="#"><span class="dk-label dk-label-warning">5:00 AM</span>Subscriber focused email
            design</a></li>
          <li class="dk-divider"></li>
          <li><a href="#" class="dk-text-center">View All</a></li>
        </ul>
      </li>
      <li [ngClass]="{'open': dropdown.preferenceOpen}">
        <a (click)="togglePreferenceOpen()" class="dk-nav-toggle"><span
          class="fas fa-user"></span>VinceZK <b class="dk-caret"></b>
        </a>
        <ul class="dk-dropdown-menu">
          <li><a href="#"><span class="fas fa-user"></span>Profile</a></li>
          <li><a href="#"><span class="fas fa-cog"></span>Settings</a></li>
          <li class="dk-divider"></li>
          <li><a href="#"><span class="fas fa-power-off"></span>Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
