<!--<div class="dk-frame-view">-->
  <!--&lt;!&ndash; Head Bar Navigation &ndash;&gt;-->
  <!--<app-head-bar (onCollapse)="onCollapse()"></app-head-bar>-->

  <!--<div class="dk-frame-content">-->
    <!--&lt;!&ndash; Side Bar Navigation &ndash;&gt;-->
    <!--<app-side-menu></app-side-menu>-->

    <!--&lt;!&ndash; Content Area &ndash;&gt;-->
    <!--<div class="dk-content-area">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<router-outlet></router-outlet>
