<form class="mt-4 ml-2 row">
  <dk-app-attribute-form2 class="col-md-6 col-lg-4 dk-form-label"
                          [attributeControl]="getAttrCtrlFromID('LANGUAGE')"
                          [formGroup]="userPersonalizationForm"
                          [readonly]="readonly">
  </dk-app-attribute-form2>
  <dk-app-attribute-form2 class="col-md-6 col-lg-4 dk-form-label"
                          [attributeControl]="getAttrCtrlFromID('TIMEZONE')"
                          [formGroup]="userPersonalizationForm"
                          [readonly]="readonly">
  </dk-app-attribute-form2>
  <dk-app-attribute-form2 class="col-md-6 col-lg-4 dk-form-label"
                          [attributeControl]="getAttrCtrlFromID('DECIMAL_FORMAT')"
                          [formGroup]="userPersonalizationForm"
                          [readonly]="readonly">
  </dk-app-attribute-form2>
  <dk-app-attribute-form2 class="col-md-6 col-lg-4 dk-form-label"
                          [attributeControl]="getAttrCtrlFromID('DATE_FORMAT')"
                          [formGroup]="userPersonalizationForm"
                          [readonly]="readonly">
  </dk-app-attribute-form2>
</form>
