/* You can add global styles to this file, and also import other style files */
@import '../node_modules/handsontable/dist/handsontable.full.css';

/* important! global styles */
html {
  font-size: 10px;
}
body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}
*, :after, :before {
  box-sizing: border-box;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
b, strong {
  font-weight: 700;
}

/* can be deleted: handsontable related css */
.flag {
  background-size: 33px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%
}
.flag.eur, .flag.europe {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/europeanunion.svg)
}

.flag.usa, .flag.usd {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/us.svg)
}

.flag.japan, .flag.jpy {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/jp.svg)
}

.flag.england, .flag.gbp {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/gb.svg)
}

.flag.chf, .flag.switzerland {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/ch.svg)
}

.flag.cad, .flag.canada {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/ca.svg)
}

.flag.aud, .flag.australia {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/au.svg)
}

.flag.new-zealand, .flag.nzd {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/nz.svg)
}

.flag.sek, .flag.sweden {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/se.svg)
}

.flag.nok, .flag.norway {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/no.svg)
}

.flag.brazil, .flag.brl {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/br.svg)
}

.flag.china, .flag.cny {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/cn.svg)
}

.flag.rub, .flag.russia {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/ru.svg)
}

.flag.india, .flag.inr {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/in.svg)
}

.flag.try, .flag.turkey {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/tr.svg)
}

.flag.thailand, .flag.thb {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/th.svg)
}

.flag.idr, .flag.indonesia {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/id.svg)
}

.flag.malaysia, .flag.myr {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/my.svg)
}

.flag.mexico, .flag.mxn {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/mx.svg)
}

.flag.argentina, .flag.ars {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/ar.svg)
}

.flag.denmark, .flag.dkk {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/dk.svg)
}

.flag.ils, .flag.israel {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/il.svg)
}

.flag.philippines, .flag.php {
  background-image: url(https://handsontable.com/static/bower_components/flag-icon/svg/country-4x3/ph.svg)
}

