<div #sideMenu class="dk-side-menu" [class.dk-side-menu-collapsed]="isCollapsed" (mouseleave)="mouseleaveMenu()" >
  <div class="dk-menu-list">
    <!-- side menu in expended mode -->
    <ul *ngIf="!isCollapsed" class="dk-menu-content">
      <li *ngFor="let category of role.categories; index as i;"
          [ngClass]="{'active':category.active,
                      'collapsed':!category.isSubMenuShow,
                      'dk-menu-search': category.routeLink === '/appSearch',
                      'menuDisplay': category.routeLink === '/appSearch' || menuDisplay}">
        <span *ngIf="category.routeLink === '/appSearch'" [ngClass]="category.icon" aria-hidden="true"></span>
        <input *ngIf="category.routeLink === '/appSearch'" #searchBox class="dk-search-box" placeholder="Search"
               (keyup)="searchApp(searchBox.value)" (keypress)="enterApp($event)"/>
        <ul *ngIf="category.routeLink === '/appSearch'" class="dk-sub-menu">
          <li *ngFor="let app of apps$ | async" >
            <a routerLink="{{app.routeLink}}">{{app.name}}</a>
          </li>
        </ul>

        <a *ngIf="category.routeLink && category.routeLink !== '/appSearch'" routerLink="{{category.routeLink}}">
          <span [ngClass]="category.icon" aria-hidden="true"></span> {{category.name}}
        </a>
        <a *ngIf="!category.routeLink" (click)="clickRow(i)">
          <span [ngClass]="category.icon" aria-hidden="true"></span> {{category.name}}
          <span *ngIf="category.apps && category.apps.length > 0" class="fas arrow"
                [ngClass]="{'fa-angle-right': !category.isSubMenuShow, 'fa-angle-down': category.isSubMenuShow}">
          </span>
        </a>
        <ul *ngIf="!category.routeLink" class="dk-sub-menu"
            [ngClass]="{'expended':category.isSubMenuShow, 'collapsed':!category.isSubMenuShow}">
          <li *ngFor="let app of category.apps" [ngClass]="{'active':app.active}">
            <a routerLink="{{app.routeLink}}">{{app.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- side menu in collapsed mode -->
    <ul *ngIf="isCollapsed" class="dk-menu-content">
      <li *ngFor="let category of role.categories; index as i" class="menuDisplay" [ngClass]="{'active':category.active}"
          (mouseenter)="mouseenterRow(i)" (mouseleave)="mouseleaveRow(i)" (click)="clickRow(i)">
        <a *ngIf="category.routeLink === '/appSearch'">
          <span [ngClass]="category.icon" aria-hidden="true"></span>
        </a>
        <div *ngIf="category.routeLink === '/appSearch'"
             class="dk-side-menu dk-side-menu-hover dk-menu-search-hover"
             [ngClass]="{'dk-side-menu-hover-show':category.isSubMenuShow}"
             [style.top.rem]="category.top">
          <ul class="dk-menu-content-hover">
            <li><input #searchBox class="dk-search-box" placeholder="Search" class="dk-search-box"
                       (keyup)="searchApp(searchBox.value)" (keypress)="enterApp($event)"/></li>
            <ul class="dk-sub-menu dk-sub-menu-collapsed">
              <li *ngFor="let app of apps$ | async" >
                <a routerLink="{{app.routeLink}}" (click)="hideSubMenu()">{{app.name}}</a>
              </li>
            </ul>
          </ul>
        </div>
        <span *ngIf="category.routeLink === '/appSearch'"
              class="dk-popover-arrow" [ngClass]="{'dk-popover-arrow-show':category.isSubMenuShow}"
              [style.top.rem]="category.arrowTop"></span>

        <a *ngIf="category.routeLink !== '/appSearch' && category.apps.length === 0" routerLink="{{category.routeLink}}">
          <span [ngClass]="category.icon" aria-hidden="true"></span>
        </a>
        <a *ngIf="category.routeLink !== '/appSearch' && category.apps.length > 0">
          <span [ngClass]="category.icon" aria-hidden="true"></span>
        </a>

        <div *ngIf="category.routeLink !== '/appSearch' && category.apps.length > 0"
             class="dk-side-menu dk-side-menu-hover"
             [style.top.rem]="category.top"
             [style.height.rem]="category.height"
             [ngClass]="{'dk-side-menu-hover-show':category.isSubMenuShow}">
          <ul class="dk-menu-content-hover">
            <li><a>{{category.name}}</a></li>
            <ul class="dk-sub-menu dk-sub-menu-collapsed">
              <li *ngFor="let app of category.apps" [ngClass]="{'active':app.active}">
                <a routerLink="{{app.routeLink}}" (click)="hideSubMenu()">{{app.name}}</a>
              </li>
            </ul>
          </ul>
        </div>
        <span *ngIf="category.routeLink !== '/appSearch' && category.apps.length > 0"
              class="dk-popover-arrow" [ngClass]="{'dk-popover-arrow-show':category.isSubMenuShow}"
              [style.top.rem]="category.arrowTop"></span>
      </li>
    </ul>
  </div>

  <div class="dk-separator"></div>

  <div class="dk-menu-bottom">
    <ul *ngIf="!isCollapsed" class="dk-menu-content">
      <li >
        <a href="#">
          <span class="fas fa-question-circle" aria-hidden="true"></span> Useful Links
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-balance-scale" aria-hidden="true"></span> Legal Information
        </a>
      </li>
    </ul>
    <ul *ngIf="isCollapsed" class="dk-menu-content">
      <li (mouseenter)="mouseenterRow(0)" (mouseleave)="mouseleaveRow(0)" (click)="clickRow(0)" >
        <a href="#">
          <span class="fas fa-question-circle" aria-hidden="true"></span>
        </a>
      </li>
      <li (mouseenter)="mouseenterRow(0)" (mouseleave)="mouseleaveRow(0)" (click)="clickRow(0)">
        <a href="#">
          <span class="fas fa-balance-scale" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>

</div>

