<div #sideMenu class="dk-side-menu" [class.dk-side-menu-collapsed]="isCollapsed" (mouseleave)="mouseleaveMenu()" >
  <div class="dk-menu-list">
    <ul *ngIf="!isCollapsed" class="dk-menu-content">
      <li class="dk-menu-search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input #searchBox id="search-box" class="dk-search-box" placeholder="Search"
               (keyup)="searchApp(searchBox.value)" (keypress)="enterApp($event)"/>
        <ul class="dk-sub-menu">
          <li *ngFor="let app of apps$ | async" >
            <a routerLink="{{app.routeLink}}" (click)="clickLink(app)">{{app.name}}</a>
          </li>
        </ul>
      </li>

      <li *ngFor="let catalog of role.catalogs; index as i" [style.display]="menuDisplay"
          [ngClass]="{'active':catalog.active,'collapsed':!catalog.isSubMenuShow}">
        <a routerLink="{{catalog.routeLink}}" (click)="clickRow(i)">
          <span [ngClass]="catalog.icon" aria-hidden="true"></span> {{catalog.name}}
          <span *ngIf="catalog.apps && catalog.apps.length > 0" class="glyphicon arrow"
                [ngClass]="{'glyphicon-menu-right': !catalog.isSubMenuShow, 'glyphicon-menu-down': catalog.isSubMenuShow}">
          </span>
        </a>
        <ul *ngIf="catalog.apps && catalog.apps.length > 0" class="dk-sub-menu"
            [ngClass]="{'expended':catalog.isSubMenuShow, 'collapsed':!catalog.isSubMenuShow}">
          <li *ngFor="let app of catalog.apps" [ngClass]="{'active':app.active}">
            <a routerLink="{{app.routeLink}}" (click)="clickLink(app)">{{app.name}}</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul *ngIf="isCollapsed" class="dk-menu-content">
      <li class="dk-menu-search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </li>

      <li *ngFor="let catalog of role.catalogs; index as i"
          (mouseenter)="mouseenterRow(i)" (mouseleave)="mouseleaveRow(i)" (click)="clickRow(i)">
        <a routerLink="{{catalog.routeLink}}">
          <span [ngClass]="catalog.icon" aria-hidden="true"></span>
        </a>

        <div *ngIf="catalog.apps && catalog.apps.length > 0" class="dk-side-menu dk-side-menu-hover"
             [style.top.rem]="catalog.top"
             [style.height.rem]="catalog.height"
             [ngClass]="{'dk-side-menu-hover-show':catalog.isSubMenuShow}">
          <ul class="dk-menu-content-hover">
            <li><a>{{catalog.name}}</a></li>
            <ul class="dk-sub-menu dk-sub-menu-collapsed">
              <li *ngFor="let app of catalog.apps" [ngClass]="{'active':app.active}">
                <a routerLink="{{app.routeLink}}" (click)="clickLink(app)">{{app.name}}</a>
              </li>
            </ul>
          </ul>
        </div>
        <span *ngIf="catalog.apps && catalog.apps.length > 0" class="dk-popover-arrow"
              [ngClass]="{'dk-popover-arrow-show':catalog.isSubMenuShow}"
              [style.top.rem]="catalog.arrowTop"></span>
      </li>
    </ul>
  </div>

  <div class="dk-separator"></div>

  <div class="dk-menu-bottom">
    <ul *ngIf="!isCollapsed" class="dk-menu-content">
      <li >
        <a href="#">
          <span class="fas fa-question-circle" aria-hidden="true"></span> Useful Links
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Education
        </a>
      </li>
    </ul>
    <ul *ngIf="isCollapsed" class="dk-menu-content">
      <li (mouseenter)="mouseenterRow(0)" (mouseleave)="mouseleaveRow(0)" (click)="clickRow(0)" >
        <a a href="#">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </a>
      </li>
      <li (mouseenter)="mouseenterRow(0)" (mouseleave)="mouseleaveRow(0)" (click)="clickRow(0)">
        <a href="#">
          <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>

</div>

